<footer id="footer" class="footer position-relative light-background py-4">

    <div class="container text-center">
        <div class="copyright mb-2">
            <p>© <strong class="sitename">Vasyl Stolyarchuk</strong> — All Rights Reserved <span id="year"></span></p>
        </div>
        <div class="credits small">
            Designed by <a href="https://bootstrapmade.com/" target="_blank" rel="noopener">BootstrapMade</a> |
            Distributed by <a href="https://themewagon.com" target="_blank" rel="noopener">ThemeWagon</a>
        </div>
    </div>

</footer>
