@inherits LayoutComponentBase

<PageTitle>BlazorAppMyCV</PageTitle>

<div class="index-page">
    <Header />
    <main class="main">
       
        <article>
            @Body
        </article>
    </main>
    <Footer/>
</div>
