@inherits LayoutComponentBase

<PageTitle>BlazorAppMyCV</PageTitle>

<div class="page">
   @*  <div class="sidebar">
        <NavMenu />
    </div> *@
    <Header />
    <main>
       
        <article class="content">
            @Body
        </article>
    </main>
</div>
