@page "/about"


<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am a Full Stack .NET Developer with 4+ years of hands-on experience in designing, developing, and deploying scalable web applications using technologies like ASP.NET Core, Blazor, Azure, and modern JavaScript frameworks. I focus on clean architecture, automation, and delivering real business value.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="assets/img/portfolio2.jpeg" class="img-fluid" alt="Vasyl Stolyarchuk">               
            </div>
            <div class="col-lg-8 content">
                <h2>Full Stack .NET Developer</h2>
                <p class="fst-italic py-3">
                    Skilled in building web applications end-to-end using C#, .NET, Blazor, Entity Framework, and Azure. Strong focus on performance, test automation, and DevOps pipelines.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>Vasyl.Stoliarchuk@outlook.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+380684087164</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lviv, Ukraine</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of IT & Telecom</span></li>                           
                        </ul>
                    </div>                   
                </div>
                <p class="py-3">
                    I am always open to challenging opportunities where I can apply my technical knowledge, build high-quality solutions, and continuously learn new tools and technologies. I care about writing clean, maintainable code and contributing to effective development workflows.
                </p>
            </div>
        </div>
    </div>
</section>

@code {

}
