@page "/"





    <!-- Hero Section only -->
    <section id="hero" class="hero section dark-background">
    <img src="assets/img/my-portfolio-3.jpg" alt="" data-aos="fade-in">   
        <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Vasyl Stolyarchuk</h2>
        <p>I'm <span class="typed" data-typed-items="Full Stack Developer, .NET Engineer,  Blazor Specialist">Full Stack Developer</span></p>
        </div>
    </section>

    





    
        
   
